.App {
  font-family: 'Unbounded', sans-serif;                                            
  height: 100%;
  width: 100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 5%;
  margin-right: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    padding-right: none;
    animation: App-logo-spin infinite 100s linear;
  }
}
.title {
  color: #ffffff;
  justify-content:flex-end;
  align-items: center;
  padding: 3%;
  font-size: 10vh;
  font-weight: 900;
  text-shadow: 2px 0 #ca07c0, -2px 0 #9b0682, 0 2px #5f0458, 0 -2px #3a0223,
             1px 1px #fff, -1px -1px #000000, 1px -1px #fff, -1px 1px #000000;
}
.textbox-introducere{
  color: white;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Unbounded', sans-serif;
  font-weight: 200;
  background: rgb(29,50,99);
  background: linear-gradient(90deg, rgba(29,50,99,1) 0%, rgba(102,62,136,1) 19%, rgba(119,35,105,1) 45%, rgba(52,37,87,1) 66%, rgba(43,35,60,1) 100%);
}
.content{
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.first-page{
  display: flex;
}
.scroll{
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 4%;
  animation: fadeInScroll 8s;
}
.second-page{
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.sub-title{
  font-weight: 500;
  font-size: 5vh;
}
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  margin-top: 20%;
  background-color: #fff;
  height: 1px;
  border-radius: 60%;
  width: 80%;
}
.third-page{
  padding-top: 5%;
  justify-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.App-link {
  color: #61dafb;
}
.footer{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  background-color: #00000050;
  border-radius: 20px;
}
.mini-pfp{
display: flex;
justify-content: center;
justify-content: space-between;
gap: 100px;

}
.mini-pfp img{
  height: 90px;
  border-radius:10% ;
  transition: all .4s;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
}
.mini-pfp img:hover{
height: 100px;
filter: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInScroll {
  0% { opacity: 0; }
  60% {opacity: 0;}
  100% { opacity: 1; }
}
@media only screen and (max-width: 600px) {
 .first-page{
  flex-direction: column;
  gap: 100px;
 }
 .second-page{
  display: flex;
  flex-direction: column;
  gap: 100px;
 }
 .title{
  font-size: 5vh;
 }
 .App-logo{
  height: 80vmin;
 }
 .text-box{
  flex-direction: column;
 }
 .third-page{
    flex-direction: column;
    gap: 10px;
   }
  .mini-pfp{
    gap: 25px;
  }
  .mini-pfp img{
    height: 60px;
  }
  .mini-pfp img:hover{
    height: 70px;
  }
  }
